/**
 * FULL-WIDTH STYLING
 **

/* Main wrapper */
#ucfhb { height: 50px; width: 100%; margin: auto; background: #ffc904; position: relative; z-index: 999; }

/* Inner wrap (fixed 940px width) */
#ucfhb-inner { width: 940px; margin: auto; /*overflow: hidden;*/ height: 50px; position: relative; }

/* The left-hand portion of the header */
#ucfhb-left { float: left; padding-top: 11px; width: 260px; }
#ucfhb-mobile-toggle { 
	display: none;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	float: left;
	margin-left: 5px;
	background: url('../img/assets/mobile-toggle.png') center center no-repeat;
}
#ucfhb-mobile-toggle.ucfhb-mobileslide { background-image: url('../img/assets/mobile-toggle-active.png'); }
#ucfhb-mobile-toggle:focus { outline: 0; }
#ucfhb-logo { float: left; padding-top: 4px; }
#ucfhb-logo img { vertical-align: middle; }

/* The right-hand portion of the header */
#ucfhb-right { float: right; position: relative; width: 600px; height: 50px; overflow: hidden; }

/* MyUCF: button */
#ucfhb-myucf { 
	float: left; 
	position: absolute;
	top: 0;
	right: 50px;
	width: 400px;
	height: 50px;
}

#ucfhb-myucf-logo { 
	display: block; 
	font-size: 14px; 
	color: #aa8912; 
	text-decoration: none; 
	width: 85px; 
	height: 50px; 
	position: absolute;
	right: 193px;
	top: 0;
	transition: right 0.4s ease-in-out; /* 'move' left */
	-webkit-transition: right 0.4s ease-in-out;
	-ms-transition: right 0.4s ease-in-out;
	z-index: 2;
	outline: 0;
}
#ucfhb-myucf-logo.ucfhb-shiftleft {
	right: 292px;
}
#ucfhb-myucf-logo img { float: left; padding-top: 13px; vertical-align: middle; }
.ucfhb-icon { font-family: 'Helvetica-Neue', sans-serif; line-height: 14px; }
#ucfhb-myucf-logo .ucfhb-icon { padding: 19px 0 0 8px; display: block; float: left; }
#ucfhb-myucf-logo #ucfhb-icon-close { display: none; }
#ucfhb-myucf-logo.ucfhb-shiftleft #ucfhb-icon-open { display: none; }
#ucfhb-myucf-logo.ucfhb-shiftleft #ucfhb-icon-close { display: block; }

/* MyUCF: login form */
#ucfhb-login { position: absolute; top: 0; right: 5px; width: 380px; height: 50px; z-index: 1; }
#ucfhb-login > div {
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0s linear 0s; /* Force immediate hide of children */
	-ms-transition: all 0s linear 0s;
	transition: all 0s linear 0s;
	height: 0;
	width: 0;
	position: absolute;
	top: 7px;
	right: 0;
}
.ucfhb-shiftleft + #ucfhb-login > div { 
	opacity: 1;
	visibility: visible;
	height: auto;
	width: 280px;
	-webkit-transition: opacity 0.2s ease-in 0.4s; /* Show the form field after the button has 'moved' left */
	-ms-transition: opacity 0.2s ease-in 0.4s;
	transition: opacity 0.2s ease-in 0.4s;
}
#ucfhb-login > div > a {
	font-size: 12px;
	font-weight: bold;
	color: #333;
	line-height: 36px;
	padding: 4px 6px;
	background: #fee485;
	border-radius: 4px;
	margin: 0 4px;
}
#ucfhb-login > div > a:hover { text-decoration: none; background: #FFFCAF; }

/* Search */
#ucfhb-search { 
	position: absolute;
	top: 0;
	right: 4px;
	margin-top: 10px; 
	padding-left: 10px; 
	border-left: 1px solid #caa31b;
	z-index: 2;
	width: 220px;
	height: 31px;
	transition: width 0.4s ease-in-out; /* shrink to the right */
	-webkit-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
}
#ucfhb-search form { 
	width: 220px;
	height: 29px;
	margin-bottom: 0;
}
#ucfhb-search form input { 
	width: 160px; 
	height: 25px; 
	border-radius: 30px; 
	border: 0; 
	padding: 2px 45px 2px 15px; 
	font-family: 'Helvetica-Neue', sans-serif;
	font-size: 13px;
	letter-spacing: 0.1px;
	background: #fff url('../img/assets/search.png') 188px center no-repeat;
	-webkit-appearance: none;
	box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.25), 0 0 0 0 transparent; 
	transition: all 0.2s ease-in-out; /* glow effect */
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
#ucfhb-search form input:focus {
	outline: none;
	box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.25), 0px 0px 5px 2px rgba(253, 240, 183, 0.6);
}

#ucfhb-search.ucfhb-shiftleft {
	width: 32px;
	overflow: hidden;
}

#ucfhb-search.ucfhb-shiftleft form { 
	display: block;
	width: 0;
	opacity: 0;
	height: 0;
	overflow: hidden;
	
	transition: width 0.4s ease-in-out; /* grow back to the left */
	-webkit-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
}

#ucfhb-search-minimal {
	display: none;
	width: 20px;
	height: 25px;
	padding: 5px 6px 1px 6px; 
	border-radius: 5px; 
	background: #DBAC04;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.2s ease-in 0.4s; /* Show the search button after myucf has 'moved' left */
	-ms-transition: all 0.2s ease-in 0.4s;
	transition: all 0.2s ease-in 0.4s;
}
#ucfhb-search-minimal img { width: 0; height: 0; vertical-align: top; }
#ucfhb-search-minimal.ucfhb-shiftleft { 
	display: block;
	-webkit-transition: all 0s linear 0s; /* Force immediate hide when myUCF is shifted back right */
	-ms-transition: all 0s linear 0s;
	transition: all 0s linear 0s;
}
#ucfhb-search-minimal.ucfhb-shiftleft img { width: auto; height: auto; }


#ucfhb-search-autocomplete { 
	display: none;
	list-style-type: none;
	margin: 0;
	position: absolute;
	right: 4px;
	top: 42px;
	width: 218px;
	z-index: 999;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 0;
}
#ucfhb-search-autocomplete.ucfhb-shiftleft { display: none; }
#ucfhb-search-autocomplete.search-is-active { display: block; }
#ucfhb-search-autocomplete li {
	display: block;
	padding: 4px 8px;
	border-top: 1px solid #ddd;
}
#ucfhb-search-autocomplete li:first-child { border-top: 0; }
#ucfhb-search-autocomplete li:hover {
	background: #efefef;
}
#ucfhb-search-autocomplete li#ucfhb-search-autocomplete-more {
	border-top: 0;
	text-align: right;
	padding-bottom: 4px;
	padding-top: 0;
}
#ucfhb-search-autocomplete li#ucfhb-search-autocomplete-more:hover { background: #fff; }
#ucfhb-search-autocomplete li#ucfhb-search-autocomplete-more a { font-size: 11px; }
#ucfhb-search-autocomplete li a {
	font-family: Helvetica, sans-serif; 
	font-size: 14px; 
	line-height: 20px; 
	color: #0088CC;
	text-decoration: none;
	width: 100%;
	display: block;
}
#ucfhb-search-autocomplete li a:hover { text-decoration: underline; color: #005580; }
#ucfhb-search-autocomplete li a.ucfhb-search-autocomplete-url { 
	font-size: 11px; 
	text-align: left; 
	line-height: 16px; 
	font-family: Helvetica, sans-serif; 
	color: #008000;
	text-decoration: none;
	width: 100%;
	display: block;
}
#ucfhb-search-autocomplete li a.ucfhb-search-autocomplete-url:hover { text-decoration: underline; }


#ucfhb-search-autocomplete li p { text-align: left; }
#ucfhb-search-autocomplete li p.ucfhb-search-autocomplete-name {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
	margin-bottom: 0;
}
#ucfhb-search-autocomplete li p.ucfhb-search-autocomplete-org {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 0;
	color: #666;
}
#ucfhb-search-autocomplete li p.ucfhb-search-autocomplete-phone {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 0;
	margin-top: 2px;
}


/**
 * RESPONSIVE STYLING
 * Designed to match Bootstrap 2.x breakpoints
 **/

/* Tablet size (768-979px) */ 
@media (max-width: 979px) {
	#ucfhb-inner { width: 768px; }
	#ucfhb-right { width: 477px; }
}

/* Small tablet size (>=767px) */ 
@media (max-width: 767px) {
	#ucfhb {
		height: 100px;
		margin-top: -50px;
		transition: margin 0.4s ease-in-out; /* expand down */
		-webkit-transition: margin 0.4s ease-in-out;
		-ms-transition: margin 0.4s ease-in-out;
	}
	#ucfhb.ucfhb-mobileslide {
		margin-top: 0;
	}
	#ucfhb-inner { width: 100%; height: 150px; }
	#ucfhb-left { width: 300px; height: 39px; position: absolute; top: 50px; float: none; } /* height accounts for padding-top */
	#ucfhb-mobile-toggle { display: block; }
	#ucfhb-logo { padding-left: 10px; }

	/* Shift the right-hand portion to the top of ucfhb-inner */
	#ucfhb-right {
		position: absolute;
		width: 100%;
		visibility: visible;
		height: 49px;
		border-bottom: 1px solid #E5BA1D;
		top: 0;
		float: none;
	}
	#ucfhb-myucf,
	#ucfhb-search {
		width: 50%;
		position: static;
		float: left;
		padding: 0;
		margin: 10px 0 0 0;
		right: 0;
		left: 0;
		border: 0;
	}
	#ucfhb-myucf { height: auto; overflow: auto; }
	#ucfhb-myucf-logo { display: none; }
	#ucfhb-login {
		position: static;
		padding: 0;
		width: auto;
		height: auto;
		text-align: center;
	}
	#ucfhb-login > div {
		position: static;
		height: auto;
		width: auto;
		visibility: visible;
		opacity: 1;
		left: auto;
		right: auto;
		overflow: auto;
	}
	#ucfhb-login > div > a { line-height: 30px; margin: 0; }
	#ucfhb-search { height: 29px; }
	#ucfhb-search form { padding: 0 10px; margin: auto; }

	/* Fixes for screen resizing */
	.ucfhb-shiftleft + #ucfhb-login > div { width: auto; }
	#ucfhb-search.ucfhb-shiftleft { overflow: visible; width: 50%; }
	#ucfhb-search.ucfhb-shiftleft form {
		overflow: visible;
		opacity: 1;
		width: 220px !important;
		float: none;
		left: auto;
		right: auto;
	}
	#ucfhb-search-minimal.ucfhb-shiftleft { display: none; }
}

/* Phone size (>=480px) */
@media (max-width: 480px) {
	#ucfhb {
		height: 150px;
		margin-top: -100px;
	}
	#ucfhb-left { top: 100px; } /* height accounts for padding-top */
	#ucfhb-right { height: 99px; }
	#ucfhb-myucf,
	#ucfhb-search {
		margin-top: 15px;
		width: 100% !important;
	}
}