// scss-lint:disable ImportantRule IdSelector

//
// Styles for the left-hand portion of the bar, including the ucf.edu link
// and mobile toggle button.
//

// The wrapper for the left-hand side of the bar
#ucfhb-left {
  float: left;

  @media (max-width: 979px) {
    float: none;
    height: 39px; // height accounts for padding-top
    position: absolute;
    top: $header-height;
    width: 100%;
  }

  @media (max-width: 640px) {
    top: $header-height * 2;
  }
}

// The UCF logo/link to ucf.edu
#ucfhb-logo {
  a {
    @include sprite();
    background-position: 0 -100px;
    display: block;
    margin: 9px 0 0;
    min-height: 31px;
    text-indent: -9999px;
    width: 296px;

    @media (max-width: 767px) {
      margin-left: 4px;
    }

    @media (max-width: 350px) {
      background-position: 0 -162px;
    }
  }
}

// The toggle button for the mobile slideout panel
#ucfhb-mobile-toggle {
  @include sprite();
  background-color: transparent;
  background-position: -36px 8px;
  border: 0;
  display: none;
  height: 45px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 1px;
  width: 30px;

  @media (max-width: 979px) {
    display: block;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }

  &.ucfhb-mobileslide {
    background-position: -69px 9px;
  }
}
