//
// Assign spritesheet.png backgrounds to an element.
// Background-positions should be assigned per element.
//
@mixin sprite() {
  background-image: url('../img/spritesheet-space-u.png');
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/spritesheet-r-space-u.png');
    background-size: 400px 190px;
  }
}

//
// Assign consistent focus state styles to an element on-focus.
//
@mixin focus-styles() {
  &:focus {
    outline: 3px solid #0262b6;
  }
}
