@mixin sprite() {
  background-image: url('../img/spritesheet-v1.png');
  background-repeat: no-repeat;
  text-indent: -9999px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/spritesheet-r-v1.png');
    background-size: 326px 190px;
  }
}
