// sass-lint:disable no-important no-ids

//
// The first inner wrapper element within the bar.
// `display: block` is added to override `display: none` inline styles, which
// prevent plaintext content flicker if the header css hasn't appended
// before the bar content.
//
#ucfhb-inner {
  display: block !important;
  height: 50px;
  margin: auto;
  position: relative;
  width: 940px;
  z-index: 1000;

  @media (max-width: 979px) {
    height: 50px;
    width: 720px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 640px) {
    height: 100px;
  }
}
