// sass-lint:disable no-important no-ids

//
// Wrapper that contains the search form and mobile
// search toggle button.
//
#ucfhb-search {
  border-left: 1px solid #555;
  height: 32px;
  margin-top: 9px;
  overflow: hidden;
  padding-left: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: width .4s ease-in-out; // shrink to the right
  width: 250px;
  z-index: 2;

  @media (max-width: 979px) {
    border: 0;
    float: left;
    height: 38px;
    left: 0;
    margin: 4px 0 0;
    padding: 0;
    position: static;
    right: 0;
    width: 50%;
  }

  @media (max-width: 640px) {
    margin-top: 8px;
    width: 100% !important;
  }

  &.ucfhb-shiftleft {
    overflow: hidden;
    width: 32px;

    @media (max-width: 979px) {
      overflow: visible;
      width: 50%;
    }

    form {
      display: block;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: width .4s ease-in-out; // grow back to the left
      width: 0;

      @media (max-width: 979px) {
        float: none;
        left: auto;
        opacity: 1;
        overflow: visible;
        right: auto;
        width: 250px !important;
      }
    }
  }

  form {
    display: block;
    height: 29px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    text-align: left;
    width: 250px;

    @media (max-width: 979px) {
      height: 38px;
      left: -4px;
      margin: auto;
      padding: 0 10px;
      position: relative;
    }

    label {
      border: 0;
      clip: rect(0, 0, 0, 0);
      color: #fff; // Suppresses contrast warnings in WAVE
      display: block;
      font-size: 0;
      height: 1px;
      line-height: 0 !important;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    #ucfhb-search-submit {
      @include focus-styles();
      @include sprite();
      background-color: #ffc904;
      background-position: -107px -2px;
      border: 0;
      border-radius: 0 4px 4px 0;
      display: block;
      height: 29px;
      margin: 0;
      padding: 0 3px 0 5px;
      position: absolute;
      right: 0;
      top: 2px;
      width: 28px;

      @media (max-width: 979px) {
        background-position: -107px 2px;
        height: 35px;
        right: -14px;
      }

      &:hover {
        background-color: #ffeba4;
        cursor: pointer;
      }
    }
  }
}

//
// The search input
//
#ucfhb-search-field {
  @include focus-styles();
  appearance: none;
  background-size: 20px 19px;
  border: solid 1px #fff;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  color: #000;
  font-family: 'Helvetica-Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  height: 23px !important;
  left: 0;
  letter-spacing: .1px;
  margin: 0;
  padding: 2px 40px 2px 15px;
  position: absolute;
  top: 2px;
  width: 168px !important;

  @media (max-width: 979px) {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 182px !important;
  }

  &::placeholder {
    color: #666;
    font-family: 'Helvetica-Neue', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;

    @media (max-width: 979px) {
      font-size: 16px;
    }
  }
}

//
// Search button that appears when sign in services have
// been toggled open to re-toggle the search input
//
#ucfhb-search-minimal {
  @include focus-styles();
  @include sprite();
  background-color: #ffc904;
  background-position: -111px -2px;
  border: 0;
  border-radius: 4px;
  display: none;
  height: 29px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  transition: all .2s ease-in .4s; // Show the search button after myucf has 'moved' left
  width: 29px;

  &:hover,
  &:focus,
  &:active {
    top: 2px !important;
  }

  &:hover {
    background-color: #ffeba4;
    cursor: pointer;
  }

  &.ucfhb-shiftleft {
    display: block;
    transition: all 0s linear 0s; // Force immediate hide when myUCF is shifted back right

    @media (max-width: 979px) {
      display: none;
    }
  }
}
