// sass-lint:disable no-important no-ids

//
// The right-hand portion of the bar (on desktop).
// Contains the "UCF Sign In" service links and search bar.
//
#ucfhb-right {
  float: right;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 420px;

  @media (max-width: 979px) {
    // Shift the right-hand portion to the top of ucfhb-inner
    border-bottom: 1px solid #454545;
    float: none;
    height: 49px; // Accomodate for border-bottom
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
  }

  @media (max-width: 640px) {
    height: 99px; // Accounts for border-bottom
  }
}

//
// Wrapper that contains all "UCF Sign In" service links
// and the "UCF Sign In" button.
//
#ucfhb-signon {
  float: left;
  position: absolute;
  right: 62px;
  top: 0;

  @media (max-width: 979px) {
    border: 0;
    float: left;
    height: auto;
    left: 0;
    margin: 3px 0 0;
    padding: 0;
    position: static;
    right: 0;
    width: 50%;
  }

  @media (max-width: 640px) {
    width: 100% !important;
  }
}

//
// The "UCF Sign In" button.
//
#ucfhb-signon-logo {
  @include focus-styles();
  @include sprite();
  background-color: transparent;
  background-position: 0 -34px;
  border: 0;
  display: block;
  height: 34px;
  margin: 9px 0 0;
  padding: 0;
  position: absolute;
  right: 178px;
  transition: right .4s ease-in-out; // 'move' left
  width: 125px;
  z-index: 2;

  @media (max-width: 979px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-position: -149px -34px;
    cursor: pointer;
  }

  &.ucfhb-shiftleft {
    background-position: 0 0;
    right: 315px;
    width: 44px;
  }
}

//
// Container for all sign in service links.
//
#ucfhb-services {
  width: 321px;
  z-index: 1;

  @media (max-width: 979px) {
    height: auto;
    padding: 0;
    position: static;
    text-align: center;
    width: auto;
  }

  a {
    @include sprite();
  }

  div:hover > a {
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  > div {
    display: block;
    opacity: 0;
    transition: all 0s linear 0s;
    visibility: hidden;

    @media (max-width: 979px) {
      height: auto;
      left: auto;
      margin: auto;
      opacity: 1;
      overflow: auto;
      position: static;
      right: auto;
      visibility: visible;
      width: 319px;
    }

    > a {
      @media (max-width: 979px) {
        line-height: 30px;
        margin: 0;
      }
    }
  }

  .ucfhb-shiftleft + & > div {
    opacity: 1;
    transition: opacity .2s ease-in .4s;
    visibility: visible;

    @media (max-width: 979px) {
      margin: auto;
    }
  }

  // Shared class for all sign in service links
  .ucfhb-service {
    display: block;
    float: left;
    margin: 11px 0;

    @media (max-width: 640px) {
      margin: 6px 0;
    }
  }

  // myUCF link
  #ucfhb-myucf {
    @include focus-styles();
    background-position: -264px -70px;
    height: 25px;
    width: 66px;
  }

  // Knightsemail link
  #ucfhb-knightsmail {
    @include focus-styles();
    background-position: 8px -70px;
    height: 25px;
    width: 128px;
  }

  // Webcourses link
  #ucfhb-webcourses {
    @include focus-styles();
    background-position: -124px -70px;
    height: 25px;
    width: 124px;
  }
}

//
// Wrapper that contains the search form and mobile
// search toggle button.
//
#ucfhb-search {
  border-left: 1px solid #555;
  height: 32px;
  margin-top: 9px;
  overflow: hidden;
  padding-left: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: width .4s ease-in-out; // shrink to the right
  width: 210px;
  z-index: 2;

  @media (max-width: 979px) {
    border: 0;
    float: left;
    height: 38px;
    left: 0;
    margin: 4px 0 0;
    padding: 0;
    position: static;
    right: 0;
    width: 50%;
  }

  @media (max-width: 640px) {
    margin-top: 8px;
    width: 100% !important;
  }

  &.ucfhb-shiftleft {
    overflow: hidden;
    width: 32px;

    @media (max-width: 979px) {
      overflow: visible;
      width: 50%;
    }

    form {
      display: block;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: width .4s ease-in-out; // grow back to the left
      width: 0;

      @media (max-width: 979px) {
        float: none;
        left: auto;
        opacity: 1;
        overflow: visible;
        right: auto;
        width: 220px !important;
      }
    }
  }

  form {
    display: block;
    height: 29px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    text-align: left;
    width: 210px;

    @media (max-width: 979px) {
      height: 38px;
      left: -4px;
      margin: auto;
      padding: 0 10px;
      position: relative;
    }

    label {
      border: 0;
      clip: rect(0, 0, 0, 0);
      color: #fff; // Suppresses contrast warnings in WAVE
      display: block;
      font-size: 0;
      height: 1px;
      line-height: 0 !important;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    #ucfhb-search-submit {
      @include focus-styles();
      @include sprite();
      background-color: #ffc904;
      background-position: -107px -2px;
      border: 0;
      border-radius: 0 4px 4px 0;
      display: block;
      height: 29px;
      margin: 0;
      padding: 0 3px 0 5px;
      position: absolute;
      right: 0;
      top: 2px;
      width: 28px;

      @media (max-width: 979px) {
        background-position: -107px 2px;
        height: 35px;
        right: -14px;
      }

      &:hover {
        background-color: #ffeba4;
        cursor: pointer;
      }
    }
  }
}

//
// The search input
//
#ucfhb-search-field {
  @include focus-styles();
  appearance: none;
  background-size: 20px 19px;
  border: solid 1px #fff;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  color: #000;
  font-family: 'Helvetica-Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  height: 23px !important;
  left: 0;
  letter-spacing: .1px;
  margin: 0;
  padding: 2px 40px 2px 15px;
  position: absolute;
  top: 2px;
  width: 148px !important;

  @media (max-width: 979px) {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 182px !important;
  }

  &::placeholder {
    color: #666;
    font-family: 'Helvetica-Neue', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;

    @media (max-width: 979px) {
      font-size: 16px;
    }
  }
}

//
// Search button that appears when sign in services have
// been toggled open to re-toggle the search input
//
#ucfhb-search-minimal {
  @include focus-styles();
  @include sprite();
  background-color: #ffc904;
  background-position: -111px -2px;
  border: 0;
  border-radius: 4px;
  display: none;
  height: 29px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  transition: all .2s ease-in .4s; // Show the search button after myucf has 'moved' left
  width: 29px;

  &:hover,
  &:focus,
  &:active {
    top: 2px !important;
  }

  &:hover {
    background-color: #ffeba4;
    cursor: pointer;
  }

  &.ucfhb-shiftleft {
    display: block;
    transition: all 0s linear 0s; // Force immediate hide when myUCF is shifted back right

    @media (max-width: 979px) {
      display: none;
    }
  }
}
